@define-color base            #f7fafc;
@define-color surface         #edf2f7;
@define-color overlay         #e2e8f0;

@define-color muted           #cbd5e0;
@define-color subtle          #718096;
@define-color text            #2d3748;

@define-color accent          #3182ce;
@define-color accentDim       #2b6cb0;
@define-color secondary       #4299e1;
@define-color warning         #e53e3e;
@define-color gold            #d69e2e;

@define-color highlightLow    #f1f5f9;
@define-color highlightMed    #e2e8f0;
@define-color highlightHigh   #cbd5e0; 

* {
  all: unset;
  font-size: 14px;
  font-family: "Symbols Nerd Font", "Rubik";
  transition: 50ms;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 8px;
  margin: 0;
  margin-right: 20px;
  margin-top: 20px;
  background-color: alpha(@surface, 1);
  color: @text;
  padding: 0;
  border: 1px solid @muted;
}

.floating-notifications.background .notification-row .notification-background .notification {
  border-radius: 4px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border-left: 3px solid @warning;
  box-shadow: none;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: @text;
  font-size: 14px;
  font-weight: 500;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: @subtle;
  font-size: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @text;
  font-size: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 3px;
  color: @text;
  font-size: 14px;
  background-color: @overlay;
  border: 1px solid @muted;
  padding: 8px 12px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @highlightMed;
  color: @text;
}

.control-center {
  border: 1px solid @muted;
  border-radius: 8px;
  margin: 20px;
  background-color: alpha(@base, 1);
  color: @text;
  padding: 16px;
}

.control-center .widget-title > label {
  color: @text;
  font-size: 14px;
  font-weight: 500;
}

.control-center .widget-title button {
  border-radius: 5px;
  color: @text;
  font-size: 14px;
  background-color: @overlay;
  border: 1px solid @muted;
  padding: 8px 12px;
}

.control-center .widget-title button:hover {
  background-color: @highlightMed;
  color: @text;
}

.control-center .notification-row .notification-background {
  border-radius: 8px;
  color: @text;
  background-color: @overlay;
  border: 1px solid @muted;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  border-radius: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  border-left: 3px solid @warning;
  box-shadow: none;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 14px;
  margin-right: 10px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: @text;
  font-size: 14px;
  font-weight: 500;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: @subtle;
  font-size: 14px;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: @text;
  font-size: 14px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 3px;
  color: @text;
  font-size: 14px;
  background-color: @surface;
  border: 1px solid @muted;
  margin: 7px;
  padding: 8px 12px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @highlightMed;
  color: @text;
}

.control-center .notification-row .notification-background:hover {
  background-color: @highlightLow;
}

/* TODO: this does not work, but I want to disable this f**king collapse animation*/
.control-center .notification .notification-default-action,.notification-action  {
  transition: 50ms;
}

/* Progress bars */
.notification.critical progress {
  background-color: @warning;
}

.notification.low progress,
.notification.normal progress {
  background-color: @secondary;
}
