@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

* {
  font-family: "Symbols Nerd Font", "Rubik";
  font-size: 13px;
  color: @text;
}

window#waybar {
  background-color: alpha(@base, 1);
  border-bottom: 1px solid @muted;
}

.modules-left,
.modules-right {
  padding: 0 12px;
}

.modules-left,
.modules-center,
.modules-right {
}

#workspaces {
  margin-right: 10px;
  border-bottom: 1px solid @muted; /* Same as global waybar because otherwise it looks weird when hovered, I don't want to search why */
}

#workspaces button {
  color: @subtle;
  border: 0px;
  background: transparent;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @highlightLow;
}

#window {
  color: @foam;
  font-weight: 500;
}

window#waybar.empty #window {
  margin: 0;
}

#cpu,
#temperature,
#memory,
#backlight,
#battery,
#power-profiles-daemon,
#systemd-failed-units {
  padding: 12px 8px;
}

#submap {
  margin-left: 16px;
  margin-right: 16px;
  padding: 12px 0;
}

#privacy,
#idle_inhibitor,
#pulseaudio,
#bluetooth,
#network,
#clock,
#custom-notification {
  padding: 12px 8px;
}
