* {
  all: unset;
  font-size: 14px;
  font-family: "Symbols Nerd Font", "Rubik";
  transition: 50ms;
}

/* Notification */

.notification-background {
  border-radius: 4px;
  color: #e6d8ba;
  background-color: #23372B;
  border: 1px solid #53685B;
}

.notification-background:hover {
  background-color: #214237;
  border-color: #2DD5B7;
}

.notification.critical {
  border-left: 3px solid #FF5345;
  box-shadow: none;
}

 .notification-content {
  margin: 14px;
  margin-right: 10px;
}

.notification-content .summary {
  color: #e6d8ba;
  font-size: 14px;
  font-weight: 500;
}

 .notification-content .time {
  color: #589A5F;
  font-size: 14px;
}

 .notification-content .body {
  color: #e6d8ba;
  font-size: 14px;
}

 .notification > *:last-child > * {
  min-height: 3.4em;
}

 .notification > *:last-child > * .notification-action {
  color: #e6d8ba;
  font-size: 14px;
  background-color: #214237;
  border: 1px solid #53685B;
  margin: 7px;
  padding: 8px 12px;
}

 .notification > *:last-child > * .notification-action:hover {
  background-color: #23372B;
  color: #e6d8ba;
}

/* Floating notifications */

.floating-notifications {
  margin-right: 26px;
  margin-top: 26px;
}

.floating-notifications .notification-background {
  border: 2px solid #53685B;
  margin-bottom: 14px;
}

/* Control center notifications */

.control-center .notification-background {
  margin-top: 14px;
}

/* Control center */

.control-center {
  border: 2px solid #53685B;
  border-radius: 4px;
  margin: 26px;
  background-color: alpha(#11221C, 1);
  color: #e6d8ba;
  padding: 16px;
}

.control-center .widget-title > label {
  color: #e6d8ba;
  font-size: 14px;
  font-weight: 500;
}

.control-center .widget-title button {
  border-radius: 4px;
  color: #e6d8ba;
  font-size: 14px;
  background-color: #23372B;
  border: 1px solid #53685B;
  padding: 8px 12px;
}

.control-center .widget-title button:hover {
  background-color: #214237;
  color: #e6d8ba;
  border-color: #2DD5B7;
}

.control-center .widget-title button:disabled {
  opacity: 0;
}

.control-center .notification-group {
  margin-top: 16px;
}

