@define-color base            #11221C;
@define-color surface         #214237;
@define-color overlay         #23372B;

@define-color muted           #53685B;
@define-color subtle          #589A5F;
@define-color text            #e6d8ba;

@define-color accent          #2DD5B7;
@define-color accentDim       #509475;
@define-color secondary       #549e6a;
@define-color warning         #FF5345;
@define-color gold            #E5C736;

@define-color highlightLow    #214237;
@define-color highlightMed    #23372B;
@define-color highlightHigh   #53685B;

* {
  font-family: "Symbols Nerd Font", "Rubik";
  font-size: 13px;
  color: @text;
}

window#waybar {
  background-color: alpha(@base, 1);
  border: none;
  border-radius: 0;
}

.modules-left,
.modules-right {
  padding: 0 6px;
}

.modules-left,
.modules-center,
.modules-right {
}

#workspaces {
  margin-right: 10px;
  border: none;
  border-radius: 0;
}

#workspaces button {
  color: @subtle;
  border: none;
  background: transparent;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @highlightLow;
}

#window {
  color: @accent;
  font-weight: 500;
}

window#waybar.empty #window {
  margin: 0;
}

#cpu,
#temperature,
#memory,
#backlight,
#battery,
#power-profiles-daemon,
#systemd-failed-units {
  padding: 12px 8px;
  border: none;
  border-radius: 0;
}

#submap {
  margin-left: 16px;
  margin-right: 16px;
  padding: 12px 0;
}

#privacy,
#idle_inhibitor,
#pulseaudio,
#bluetooth,
#network,
#clock,
#custom-notification {
  padding: 12px 8px;
  border: none;
  border-radius: 0;
}