@import "themes/rose-pine.css";

* {
  font-family: "Symbols Nerd Font", "Rubik", monospace;
  font-size: 13px;
  color: @text;
}

window#waybar {
  background: transparent;
  border: none;
}

.modules-left,
.modules-right {
  padding: 0 1rem;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: alpha(@highlightLow, 1);
  border-radius: 12px;
  margin: 5px;
  border: 1px solid @muted;
}

#workspaces button {
  color: @subtle;
  border: none;
  transition: all 0.3s ease;
}

#workspaces button.active {
  color: @text;
  background: alpha(@highlightMed, 1);
  border-radius: 12px;
}

#workspaces button:hover {
  color: @text;
  background: @highlightLow;
  border-radius: 12px;
}

#window {
  color: @foam;
  font-weight: 500;
  margin: 0 1rem;
}

window#waybar.empty #window {
  margin: 0;
}

#custom-notification {
  color: @gold;
}

#cpu,
#temperature,
#memory,
#backlight,
#battery,
#power-profiles-daemon {
  margin-right: 1rem;
}

#submap {
  margin-left: 1rem;
  margin-right: 1rem;
}

#privacy,
#pulseaudio,
#bluetooth,
#network {
  margin-right: 1rem;
}
