@import "themes/rose-pine.css";

* {
  font-family: "Symbols Nerd Font", "Rubik";
  font-size: 13px;
  color: @text;
}

window#waybar {
  background-color: alpha(@base, 1);
  border-bottom: 1px solid @muted;
}

.modules-left,
.modules-right {
  padding: 12px 16px;
}

.modules-left,
.modules-center,
.modules-right {
}

#workspaces {
  margin-right: 10px;
}

#workspaces button {
  color: @subtle;
  border: none;
  transition: all 0.3s ease;
}

#workspaces button.active {
}

#workspaces button:hover {
}

#window {
  color: @foam;
  font-weight: 500;
}

window#waybar.empty #window {
  margin: 0;
}

#custom-notification {
  color: @gold;
}

#cpu,
#temperature,
#memory,
#backlight,
#battery,
#power-profiles-daemon {
  margin-right: 16px;
}

#submap {
  margin-left: 16px;
  margin-right: 16px;
}

#privacy,
#pulseaudio,
#bluetooth,
#network {
  margin-right: 16px;
}
